<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>管理员账户</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">



	<!--  其他-->
	<!--  <link rel="stylesheet" href="../layuiadmin/css/bootstrap.css" media="all" />-->
	<link rel="stylesheet" href="../../layuiadmin/css/message.css" media="all" />



	<script type="text/javascript" src="../../layuiadmin/lib/extend/jquery-2.0.3.js"></script>
	<script src="../../layuiadmin/lib/extend/jquery.cookie.min.js"></script>
	<script src="../../layuiadmin/lib/extend/message.js"></script>
	<script type="text/javascript" src="../../layuiadmin/lib/extend/ipconfig.js"></script>
	<script type="text/javascript" src="../../layuiadmin/lib/extend/requestParamData.js"></script>


</head>
<body class="childrenBody" >

<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
<!--	<div class="layui-form-item">-->
<!--		<label class="layui-form-label">项目类型</label>-->
<!--		<div class="layui-input-block">-->
<!--			<select name="projectID" id="projectID">-->
<!--			</select>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="layui-form-item">-->
<!--		<label class="layui-form-label">日期</label>-->
<!--		<div class="layui-input-inline">-->
<!--			<select name="dateStr" id="dateStr">-->
<!--			</select>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="layui-form-item">-->
<!--		<label class="layui-form-label">设备类型</label>-->
<!--		<div class="layui-input-inline">-->
<!--			<select name="type" id="type" lay-filter="college">-->
<!--			</select>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="layui-form-item">-->
<!--		<label class="layui-form-label">设备ID</label>-->
<!--		<div class="layui-input-inline">-->
<!--			<select name="deviceID" id="deviceID">-->
<!--			</select>-->
<!--		</div>-->
<!--	</div>-->
	<div class="layui-form-item">
		<label class="layui-form-label">任务数</label>
		<div class="layui-input-inline">
			<input type="text" name="tasknums" id="tasknums" class="layui-input" placeholder="必填" autocomplete="off">
		</div>
	</div>
<!--	<div class="layui-form-item">-->
<!--		<label class="layui-form-label">备注</label>-->
<!--		<div class="layui-input-inline">-->
<!--			<input type="text" name="remark" id="remark" class="layui-input" placeholder="必填" autocomplete="off">-->
<!--		</div>-->
<!--	</div>-->
	<button class="layui-btn" lay-submit="" lay-filter="editCount" id="editCount" style="margin-left: 120px;margin-top: 10px;">确认修改</button>
</div>


<script src="../../layuiadmin/layui/layui.js"></script>


<script>

	var jsonDataStr;

	var mybck= $.cookie('tokenMyb');
	if(mybck == "" || mybck == null){
		// window.location.href="login.html";

			window.top.location.href="../"+js_again_login;

	}else {

		layui.config({
			base: '../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'DayNotTask', 'table'], function() {
			var $ = layui.$
					, form = layui.form
					, table = layui.table;


			// 初始化元素，如果有大量的元素操作可以也引入和初始化element模块
			var layer = parent.layer === undefined ? layui.layer : top.layer;

			// var $ = layui.$;

			//子页面获取父页面的数据
			var parent_json = eval('('+parent.jsonDataStr+')');
			var get_id = parent_json.id;
			var get_reception_status = parent_json.reception_status;



			// var get_date = parent_json.date;


			// //获取当前年月日
			// var currDate = new Date().getFullYear() +  "-" +(new Date().getMonth() + 1).toString().padStart(2, "0") +  "-" + new Date().getDate().toString().padStart(2, "0");
			// var today = new Date();
			// var oneday = 1000 * 60 * 60 * 24;
			// var begindate=new Date(today - oneday);
			// var bgDate = begindate.getFullYear() +  "-" +(begindate.getMonth() + 1).toString().padStart(2, "0") +  "-" + begindate.getDate().toString().padStart(2, "0");
			//
			// // console.log(currDate);
			//
			//
			// $('#dateStr').append(new Option(currDate, currDate));
			// $('#dateStr').append(new Option(bgDate, bgDate));
			//
			//
			// $('#dateStr').find('option:contains(' + get_date + ')').prop('selected',true);
			//
			// layui.form.render("select");




			// //获取项目ID添加到下拉框中
			// $.ajax({
			// 	url: 'http://8.134.62.33/receptionAdmin/get_project?token='+mybck+'&status=1&page=1&limit=1000',
			// 	dataType: 'json',
			// 	type: 'get',
			// 	success: function (dataArray) {
			//
			// 		if(dataArray.code != 0){
			//
			// 			// console.log(dataArray.msg)
			// 			// layer.msg(dataArray.msg);
			// 			return false;
			//
			// 		}
			// 		// console.log(dataArray)
			// 		$.each(dataArray.data, function (index, item) {
			// 			$('#projectID').append(new Option(item.name, item.id));// 下拉菜单里添加元素
			// 		});
			// 		//重新渲染 固定写法
			// 		layui.form.render("select");
			//
			// 	}
			// })
			//
			//
			// //获取设备ID添加到下拉框中
			// $.ajax({
			// 	url: 'http://8.134.62.33/realizationAdmin/get_devices?token='+mybck+'&status=1&page=1&limit=1000',
			// 	dataType: 'json',
			// 	type: 'get',
			// 	success: function (dataArray) {
			//
			// 		if(dataArray.code != 0){
			//
			// 			// console.log(dataArray.msg)
			// 			// layer.msg(dataArray.msg);
			// 			return false;
			//
			// 		}
			// 		// console.log(dataArray)
			// 		$.each(dataArray.data, function (index, item) {
			// 			$('#type').append(new Option(item.name, item.id));// 下拉菜单里添加元素
			// 		});
			// 		//重新渲染 固定写法
			// 		layui.form.render("select");
			//
			// 		var message=$("select[name=type]").val();
			//
			// 		console.log("第一次动态生成到下拉框的时候显示默认的选项"+message);
			//
			// 		//获取设备详情添加到下拉框中
			// 		$.ajax({
			// 			url: 'http://8.134.62.33/realizationAdmin/get_devices_detail?token='+mybck+'&status=1&page=1&limit=1000&type='+message,
			// 			dataType: 'json',
			// 			type: 'get',
			// 			success: function (dataArray) {
			//
			// 				if(dataArray.code != 0){
			//
			// 					console.log(dataArray.msg)
			// 					// layer.msg(dataArray.msg);
			// 					return false;
			//
			// 				}
			// 				console.log(dataArray)
			// 				$.each(dataArray.data, function (index, item) {
			// 					$('#deviceID').append(new Option(item.remark, item.id));// 下拉菜单里添加元素
			// 				});
			//
			// 				layui.form.render("select");
			//
			// 				//重新渲染 固定写法
			// 			}
			// 		})
			//
			// 	}
			// })


			//确认修改按钮点击事件
			$("#editCount").click(function () {


				if ($("#tasknums").val() == "" || $("#tasknums").val() == "null" || $("#tasknums").val() == null) {


					$.message({
						message: "任务数不能为空!",
						type: 'error',
						showClose: true
					});


					return false
				}







				// if ($("#remark").val() == "" || $("#remark").val() == "null" || $("#remark").val() == null) {
				//
				//
				// 	$.message({
				// 		message: "备注不能为空!",
				// 		type: 'error',
				// 		showClose: true
				// 	});
				//
				//
				// 	return false
				// }


				// //子页面获取父页面的数据
				// var parent_json = eval('(' + parent.jsonDataStr + ')');
				// console.log("parent_json:"+parent_json);
				// var get_id = parent_json.id;


				// var requestData = wxglBuildUpdataRequest($.cookie('tokenMyb'),"update",var_id,var_task_name,var_task_object);

				var param = {};
				param['action'] = 'update';
				param['action1'] = 'receptionAdmin';
				param['token'] = $.cookie('tokenMyb');
				param['id'] = get_id;
				param['reception_nums'] = $("#tasknums").val();
				param['reception_status'] = 2;



				// param['devices_type_id']=  $("#type option:selected").val();
				// param['devices_id']=  $("#deviceID option:selected").val();
				// param['project_id']=  $("#projectID option:selected").val();
				// param['date']=  $("#dateStr option:selected").val();

				param['remark'] = $("#remark").val();



				// console.log("获取到的开关值:"+$("#status").val())

				$.ajax({

					url: "http://8.134.62.33/receptionAdmin/get_task_orders",
					data: param,
					type: "POST",
					dataType: "json",
					success: function (resultJson) {

						if (200 === resultJson.code) {

							// console.log(resultJson);

							$.message({
								message: resultJson.msg,
								type: 'success',
								showClose: true
							});

							setTimeout(function () {

								layer.close("iframe");
								parent.location.reload();

							}, 1000)

							// // layer.msg("登录成功");
							//


						} else {


							$.message({
								message: resultJson.msg,
								type: 'error',
								showClose: true
							});
							// layer.msg(resultJson.msg);
							//alert(resultJson.code);

						}


					},


				});

			})


			form.on('select(college)', function (data) {

				//先执行清空设备ID详情的数据
				$("#deviceID").empty();
				form.render("select");


				var message = $("select[name=type]").val();

				console.log("手动选择的选项" + message);

				//获取设备详情添加到下拉框中
				$.ajax({
					url: 'http://8.134.62.33/realizationAdmin/get_devices_detail?token=' + mybck + '&status=1&page=1&limit=1000&type=' + message,
					dataType: 'json',
					type: 'get',
					success: function (dataArray) {

						if (dataArray.code != 0) {

							console.log(dataArray.msg)
							// layer.msg(dataArray.msg);
							return false;

						}
						console.log(dataArray)
						$.each(dataArray.data, function (index, item) {
							$('#deviceID').append(new Option(item.remark, item.id));// 下拉菜单里添加元素
						});

						layui.form.render("select");

						//重新渲染 固定写法
					}
				})


			});















		})


	}
</script>
<script type="text/html" id="titleTpl">
	<a style="color:gray;"  class="layui-table-link">{{d.LAY_TABLE_INDEX+1}}</a>
</script>
</body>
</html>
