<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>管理员账户</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">



	<!--  其他-->
	<!--  <link rel="stylesheet" href="../layuiadmin/css/bootstrap.css" media="all" />-->
	<link rel="stylesheet" href="../../layuiadmin/css/message.css" media="all" />



	<script type="text/javascript" src="../../layuiadmin/lib/extend/jquery-2.0.3.js"></script>
	<script src="../../layuiadmin/lib/extend/jquery.cookie.min.js"></script>
	<script src="../../layuiadmin/lib/extend/message.js"></script>
	<script type="text/javascript" src="../../layuiadmin/lib/extend/ipconfig.js"></script>
	<script type="text/javascript" src="../../layuiadmin/lib/extend/requestParamData.js"></script>

	<style>
		.layui-form-select dl { max-height:200px; }
	</style>


</head>
<body class="childrenBody">

<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
	<div class="layui-form-item">
		<label class="layui-form-label">账号</label>
		<div class="layui-input-inline">
			<input type="text" name="user" id="user" class="layui-input" placeholder="必填" autocomplete="off">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-inline">
			<input type="text" name="password" id="password" class="layui-input" placeholder="必填" autocomplete="off">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属等级</label>
		<div class="layui-input-inline">
			<select name="grade" id="grade">
				<option value="1">购粉管理员</option>
				<option value="2">接待管理员</option>
				<option value="3">变现管理员</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-inline">
			<input type="text" name="remark" id="remark" class="layui-input" placeholder="必填" autocomplete="off">
		</div>
	</div>

	<button class="layui-btn" lay-submit="" lay-filter="addCount" id="addCount" style="margin-left: 120px;margin-top: 10px;">确认添加</button>
</div>



<script src="../../layuiadmin/layui/layui.js"></script>
<!--<script src="../../layuiadmin/layui/layui.all.js"></script>-->
<script>


	var mybck= $.cookie('tokenMyb');
	// alert(document.cookie);

	// alert(mybck);
	// console.log(mybck)

	if(mybck == "" || mybck == null){

		window.top.location.href= "../"+js_again_login;


	}else {

		layui.config({
			base: '../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'adminCountS', 'table'], function(){
			var $ = layui.$
					,form = layui.form
					,table = layui.table;

			//新建按钮点击事件
			$("#addCount").click(function (){



				if($("#user").val() == ""  || $("#user").val() == "null" || $("#user").val() == null){


					$.message({
						message:"账号不能为空!",
						type: 'error',
						showClose: true
					});


					return false
				}

				if($("#password").val() == ""  || $("#password").val() == "null" || $("#password").val() == null){


					$.message({
						message:"密码不能为空!",
						type: 'error',
						showClose: true
					});


					return false
				}

				if($("#remark").val() == ""  || $("#remark").val() == "null" || $("#remark").val() == null){


					$.message({
						message:"备注不能为空!",
						type: 'error',
						showClose: true
					});


					return false
				}

				var param={};
				param['token']=$.cookie('tokenMyb');
				param['user']=$("#user").val();
				param['password']= $("#password").val();
				param['grade']= $("#grade option:selected").val();

				param['remark']= $("#remark").val();
				  // alert($("#user").val());

				$.ajax({
				  url:"http://8.134.62.33/superAdmin/add_admins",
				  type: "POST",
				  data: param,
				  success: function (resultData) {

				    console.log(resultData);

				    if(resultData.code == 200){


				      // $.message({
				      //
				      //   message:resultData.msg ,
				      //   type: 'success',
				      //   showClose: true
				      // });
				      //
				      // window.location.reload()

				      // layer.msg(resultData.msg,{icon:1,time:500},function(){
				      //   //关闭后的操作
				      //   window.location.reload()
					  //
				      //   // window.parent.location.reload()
					  //
					  //
				      // });
				      // window.location.reload()


						$.message({
							message:resultData.msg ,
							type: 'success',
							showClose: true
						});

						setTimeout(function (){

							layer.close("iframe");
							parent.location.reload();

						},1000)


				    }else{

				      $.message({
				        message:resultData.msg ,
				        type: 'error',
				        showClose: true
				      });


				    }



				  },


				});

			})


		});

	}

</script>
<script type="text/html" id="titleTpl">
	<a style="color:gray;"  class="layui-table-link">{{d.LAY_TABLE_INDEX+1}}</a>
</script>
</body>
</html>
